name: android_content_provider
description: Flutter plugin to use ContentProvider/ContentResolver APIs on Android
version: 0.2.1
homepage: https://github.com/nt4f04uNd/android_content_provider/

environment:
  sdk: ">=2.15.0 <3.0.0"
  flutter: ">=2.8.0"

dependencies:
  flutter:
    sdk: flutter
  async: ^2.8.2
  uuid: ^3.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.nt4f04und.android_content_provider
        pluginClass: AndroidContentProviderPlugin
